<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <title>Home page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="container mt-5">
        <h1>HomePage - Hello world</h1>
        <div>
            <h2> Welcome "<%= user.fullname%>"</h2>
            <br>
            <div>
                <form method="POST" action="/logout">
                    <button type="submit" class="btn btn-primary">Log out</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/profile.css" />
    <title>profile page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
</head>

<body>
    <nav class="nav1">
        <a href="l#" class="logo">
            <img src="images/JMI logo.jpeg" alt="image" />
        </a>
        <span class="menu-space1"></span>
        <div>
            <form method="POST" action="/logout">
                <button type="submit" class="btn btn-primary">Log out</button>
            </form>
        </div>
    </nav>

    <nav class="nav2">
        <span class="menu-space2"></span>

        <ul class="menu2">
            <div id="pic"></div>
            <input type="file" id="image_input" accept="image/png,image/jpg" />

            <li>
                <a href="#
                    #"></a>
            </li>
            <li><a href="##">profile</a></li>
            <form action="/active" method="POST">
                <li>
                    <a><input type="submit" value="ACTIVE SESSIONS" /></a>
                </li>
            </form>
            <form action="/active" method="POST">
                <li>
                    <a><input type="submit" value="PLACEMENTS" /></a>
                </li>
            </form>
            <form action="/active" method="POST">
                <li>
                    <a><input type="submit" value="CONTACTS" /></a>
                </li>
            </form>
        </ul>

        <div class="container">
            <!--- <h2>Welcome "
                <%= user.fullname%>"</h2>-->

            <div class="card-body">
                <form class="forms">
                    <table class="table">
                        <thead>
                            <tr></tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <td colspan="2">
                                    <div class="col-sm-12">
                                        <a class="btnedit" target="__blank"><input type="submit"></a>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <td class="td1">name</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="td1">student id</td>
                                <td>007</td>
                            </tr>
                            <tr>
                                <td class="td1">course</td>
                                <td>b.tech</td>
                            </tr>
                            <tr>
                                <td class="td1">gender</td>
                                <td>male</td>
                            </tr>
                            <tr>
                                <td class="td1">address</td>
                                <td>universe</td>
                            </tr>
                            <tr>
                                <td class="td1">nationality</td>
                                <td>earth</td>
                            </tr>
                            <tr>
                                <td class="td1">contact no</td>
                                <td>007</td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </nav>

    <script src="js/profile.js"></script>
</body>

</html>