<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <title>Home page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="container mt-5">
        <h1>HomePage - Hello world</h1>
        <div>
            <h2> Welcome "<%= user.fullname%>"</h2>
            <br>
            <div>
                <form method="POST" action="/logout">
                    <button type="submit" class="btn btn-primary">Log out</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/profile.css" />
    <title>profile page</title>
</head>

<body>
    <nav class="nav1">
        <a href="l#" class="logo">
            <img src="images/JMI logo.jpeg" alt="image" />
        </a>
        <span class="menu-space1"></span>

        <a href="##" class="logout">log out</a>
    </nav>

    <nav class="nav2">
        <span class="menu-space2"></span>

        <ul class="menu2">
            <div id="pic"></div>
            <input type="file" id="image_input" accept="image/png,image/jpg" />

            <li>
                <a href="##"></a>
            </li>
            <li><a href="##">profile</a></li>
            <li><a href="##">active sessions</a></li>
            <li><a href="##">placements</a></li>
            <li><a href="##">contacts</a></li>
        </ul>
        <div class="container">welcome to jamia millia islamia</div>
    </nav>

    <script src="js/profile.js"></script>
</body>

</html>