<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Signin</title>
    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="css/login.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>

<body>
    <nav id="navbar">
        <div class="logo">
            <img src="images/JMI logo.jpeg" alt="jamia_logo" />
        </div>
        <div class="name">
            <div class="webname">UNIVERSITY PLACEMENT CELL</div>
            <div class="college">Jamia Millia Islamia, New Delhi</div>
        </div>

        <ul>
            <li class="item"><a href="">Home</a></li>
            <li class="item"><a href="">About</a></li>
            <li class="item"><a href="">Contact</a></li>
        </ul>
    </nav>
    <form method="post" action="/login">
        <h3>Student Sign in</h3>

        <div class="login_fields">
            <input type="text" placeholder="Email or Phone" id="username" name="email" required />
            <input type="password" placeholder="Password" id="password" name="password" required />
        </div>
        <div>
            <% if(errors != "") { %>
                <% errors.forEach((item) => { %>
                    <div class="error">
                        <%- item %>
                    </div>
                    <% }); %>
                        <% } %>
        </div>

        <!-- <button>Sign In</button> -->
        <input class="sign-in" type="submit" value="Sign In" />
        <p>OR</p>

        <div class="social">
            <button><i class="fab fa-google"></i> Sign in using Google</button>
        </div>
    </form>
</body>

</html>