<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- Additional CSS -->
    <link rel="stylesheet" href="/css/rounds.css" />
    

    <!-- Snippet's bootstrap links -->

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
  </head>
  <body>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Poppins:400,500,600,700"
      rel="stylesheet"
    />
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
          <div class="logo">
              <img src="/images/JMI logo.jpeg" alt="jamia_logo" />
          </div>
          <a class="navbar-brand" href="#">UNIVERSITY PLACEMENT CELL</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto ">
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="/">Profile</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link active" href="/active">Active Sessions</a>
                  </li>
                  <!-- <li class="nav-item">
                      <a class="nav-link active" href="/apply">Apply</a>
                  </li> -->
                  <li class="nav-item">
                      <a class="nav-link active" href="/login">Logout</i>
                      </a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
    <section class="experience pt-100 pb-100" id="experience">
      <div class="container">
        <div class="row">
          <div class="col-xl-8 mx-auto text-center">
            <div class="section-title">
              <h4>Current Rounds</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12">
            <ul class="timeline-list">
              <!-- Single Experience -->
              <li>
                <div class="timeline_content">
                  <span>2 June 2022</span>
                  <h4>Intern Developer span</h4>
                  <p>
                    We gather your personal and organisational information. We
                    then determine the path of hiring process and understand
                    your goals and we combine your ideas with ours for an
                    amazing website.
                  </p>
                </div>
              </li>
              <!-- Single Experience -->
              <li>
                <div class="timeline_content">
                  <span>18 June 2022</span>
                  <h4>Junior Developer</h4>
                  <p>
                    We gather your personal and organisational information. We
                    then determine the path of hiring process and understand
                    your goals and we combine your ideas with ours for an
                    amazing website.
                  </p>
                </div>
              </li>
              <!-- Single Experience -->
              <li>
                <div class="timeline_content">
                  <span>4 July 2022</span>
                  <h4>Senior Developer</h4>
                  <p>
                    We gather your personal and organisational information. We
                    then determine the path of hiring process and understand
                    your goals and we combine your ideas with ours for an
                    amazing website.
                  </p>
                </div>
              </li>
              <!-- Single Experience -->
              <li>
                <div class="timeline_content">
                  <span>8 July 2022</span>
                  <h4>Project Manager</h4>
                  <p>
                    We gather your personal and organisational information. We
                    then determine the path of hiring process and understand
                    your goals and we combine your ideas with ours for an
                    amazing website.
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
